<div class="modal fade" id="newArticleModal" tabindex="-1" role="dialog" aria-labelledby="newArticleModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="newArticleModalLabel">Create a new article</h4>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-group">
                  <label for="inputTitle">Title</label>
                  <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="newArticle.title">
               </div>
               <div class="form-group">
                  <label for="inputcontent">Content</label>
                  <textarea type="text" class="form-control" id="inputcontent" placeholder="Content" ng-model="newArticle.content"></textarea>
               </div>
               <div class="form-group">
                  <label for="inputAuthor">Author</label>
                  <input type="text" class="form-control" id="inputAuthor" placeholder="Author" ng-model="newArticle.author">
               </div>
               <div class="form-group">
                  <label for="inputCategory">Categories</label>
                  <select id="inputCategory" multiple class="form-control" ng-model="newArticle.categories">
                     <option>Technology</option>
                     <option>Social</option>
                     <option>Media</option>
                     <option>News</option>
                  </select>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addArticle()">Save</button>
         </div>
      </div>
   </div>
</div>