.article {
  &:after {
    content: "";
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
    position: relative;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
  }
  .img-responsive {
    margin-top: 25px;
  }
  .actionBar {
    margin-top: 15px;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
}

.sidebar {
  .new-article {
    margin-bottom: 20px;
  }
}