<div class="col-sm-12 col-md-9">
   <div class="well hidden-xs">
      <div class="row">
         <div class="col-xs-12">
            <button class="btn" ng-class="{'btn-primary': order === 'title', 'btn-defaut': order !== 'title'}" ng-click="reverse = order!=='title'?false:!reverse; order='title'">
               Sort by title &nbsp; <i class="fa" ng-class="{'fa-sort-asc': order === 'title' && !reverse, 'fa-sort-desc': order === 'title' && reverse}"></i>
            </button>
            <button class="btn" ng-class="{'btn-primary': order === 'published', 'btn-defaut': order !== 'published'}" ng-click="reverse = order!=='published'?false:!reverse; order='published'">
               Sort by date &nbsp; <i class="fa" ng-class="{'fa-sort-asc': order === 'published' && !reverse, 'fa-sort-desc': order === 'published' && reverse}"></i>
            </button>
         </div>
      </div>
   </div>
   <hr>

   <div class="row article" ng-repeat="article in (filteredArticles = (ArticlesCtrl.articles | filter:search)) | filter:categorySearch | orderBy:order:reverse">
      <div class="col-sm-4">
         <a href="#" class="">
            <img
                  ng-src="{{article.pictureUrl}}"
                  class="img-responsive">
         </a>
         <div class="actionBar text-right">
            <div class="btn-group" role="group">
               <a href="#/articles/edit/{{article.id}}" class="btn btn-default" title="Edit">
                  <i class="fa fa-pencil-square-o"></i>
               </a>
               <button class="btn btn-default" title="Delete"
                       ng-click="ArticlesCtrl.deleteArticle(article)">
                  <i class="fa fa-trash"></i>
               </button>
            </div>
         </div>
      </div>
      <div class="col-sm-8">
         <h3 class="title">{{article.title | uppercase}}</h3>
         <p>{{article.content}}</p>

         <p class="text-muted">
            <span ng-show="article.author">Presented by <a href="#">{{article.author}}</a></span><br>
            Date <a href="#">{{article.published | date}}</a>
         </p>
      </div>
   </div>
</div>

<div class="col-md-3 hidden-xs hidden-sm sidebar">
   <div class="new-article text-center">
      <a class="btn btn-primary" data-toggle="modal" data-target="#newArticleModal">
         Add new article
      </a>
   </div>
   <h4>Search</h4>
   <div class="input-group">
      <input type="text" class="form-control" placeholder="Search..."
             ng-model="search.title"
             aria-describedby="search-icon">
      <span class="input-group-addon" id="search-icon"><i class="fa fa-search"></i></span>
   </div>
   <div id="demo" class="collapse in">
      <hr>
      <div class="list-group list-group">
         <h4 class="">Category</h4>
         <a ng-class="{active: !categorySearch.categories}" class="list-group-item" ng-click="categorySearch.categories = ''">
            <span class="badge">{{filteredArticles.length}}</span> All
         </a>
         <a ng-class="{active: categorySearch.categories === 'Technology'}" class="list-group-item" ng-click="categorySearch.categories = 'Technology'">
            <span class="badge">{{(filteredArticles | filter:{categories:'Technology'}).length }}</span> Technology
         </a>
         <a ng-class="{active: categorySearch.categories === 'Social'}" class="list-group-item" ng-click="categorySearch.categories = 'Social'">
            <span class="badge">{{(filteredArticles | filter:{categories:'Social'}).length }}</span> Social
         </a>
         <a ng-class="{active: categorySearch.categories === 'Media'}" class="list-group-item" ng-click="categorySearch.categories = 'Media'">
            <span class="badge">{{(filteredArticles | filter:{categories:'Media'}).length }}</span> Media
         </a>
         <a ng-class="{active: categorySearch.categories === 'News'}" class="list-group-item" ng-click="categorySearch.categories = 'News'">
            <span class="badge">{{(filteredArticles | filter:{categories:'News'}).length }}</span> News
         </a>
      </div>
   </div>
   <hr>
</div>

<ng-include src="'app/articles/newArticle/newArticle.html'"
            ng-controller="NewArticleController as NewArticleCtrl"></ng-include>
