<!doctype html>
<html ng-app="blogularApp">
<head>
   <meta charset="utf-8">
   <title>blogular</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width">

   <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">

   <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
   <!-- bower:css -->
   <!-- run `gulp inject` to automatically populate bower styles dependencies -->
   <!-- endbower -->
   <!-- endbuild -->

   <!-- build:css({.tmp/serve,src}) styles/app.css -->
   <!-- inject:css -->
   <!-- css files will be automatically insert here -->
   <!-- endinject -->
   <!-- endbuild -->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <a class="navbar-brand" href="https://github.com/AshDevFr" target="_blank">
            <img src="assets/images/BearsJS_Dark_Small.png" alt="">
         </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li class="active"><a href="/index.html">Home</a></li>
         </ul>
      </div>
   </div>
</nav>

<div class="container main">
   <div class="jumbotron" ng-controller="IndexController">
      <h1>Hello {{name}}!</h1>
      <p>Welcome on Blogular, a simple set of exercises to learn how to develop a web application using
         <img src="assets/images/angular.png" width="200px" alt="AngularJS">
      </p>
      <input type="text" ng-model="name">
      <div ng-controller="Index2Controller">
         <h1>Hello {{name}}!</h1>
         <input type="text" ng-model="name">
      </div>
   </div>
</div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
